unsloth_compiled_cache
unsloth_training_checkpoints
core.*
.venv
.claude
results
FourCorners
wandb
playground
.env
deprecated
trainer_output
summarization
src
outputs/**/
reward_services
script/val
translation